.article-header {
    margin-top: 2rem;
}

.article-body span {
    margin: 0;
}

h1 {
    margin: 1rem 0 0.5rem;
    line-height: 3rem;
}

.metadata {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5rem;
}

.article-body img {
    max-width: 100%;
    height: auto;
}

.article-body .article-content {
    margin-top: 2rem;
}

.article-content p {
    margin-top: 1em;
    margin-bottom: 1em;
}

.article-sidebar {
    margin-top: 2rem;
    border-top: 5px solid var(--lighter-gray-color);
}

.article-sidebar h3 {
    margin-top: 2rem;
    color: grey;
}

h4 {
    text-decoration: none;
    color: var(--body-color);
}

.social {
    margin: 1rem 0;
    display: flex;
    justify-content: space-around;
    font-size: 2rem;
}

.fa-facebook,
.fa-twitter,
.fa-whatsapp {
    color: var(--lighter-gray-color);
}

.fa-facebook:hover,
.fa-twitter:hover,
.fa-whatsapp:hover {
    color: var(--primary-color);
}

.divider {
    margin: 2rem 0;
    border: 1px solid var(--lighter-gray-color);
}

@media (min-width: 1000px) {
    .article {
        display: grid;
        grid-template-columns: 2fr 1fr;
        gap: 1.5rem;
    }

    .article-sidebar {
        margin-top: 0;
        border-left: 1px solid var(--lighter-gray-color);
    }

    .article-sidebar .sidebar-body {
        padding-left: 2rem;
    }
}
