.top-stories {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    gap: 20px;
}

.top-item {
    padding: 1rem;
    border-left: 10px solid rgb(207, 207, 207);
    background: rgba(161, 161, 161, 0.2);
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 20px;
    margin-top: 2rem;
}

.grid-item {
    background: rgba(161, 161, 161, 0.2);
    padding: 1rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
    align-items: center;
    color: var(--body-color);
}

.grid-item img,
.top-item img {
    max-height: 100%;
    width: 100%;
    display: block;
    margin-bottom: 1rem;
}

.grid-item img:hover,
.top-item img:hover {
    opacity: 0.8;
}

.grid-item div,
.top-item div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.grid-item a,
.top-item a {
    text-decoration: none;
    color: var(--body-color);
}

.top-item div {
    padding: 0.5rem 0;
}

.publishedDate {
    color: var(--light-gray-color);
    font-size: 0.9rem;
    font-weight: 700;
}

span {
    background: var(--primary-color);
    color: #fff;
    padding: 0 0.5rem;
    letter-spacing: 0.2rem;
    text-shadow: 2px 2px #000;
    font-weight: 700;
    text-transform: uppercase;
}

.author-likes {
    font-size: 0.9rem;
}

.fa-heart:hover {
    color: var(--primary-color);
}

/* Tablets
   ========================================================================== */
@media (min-width: 822px) {
    .top-stories {
        grid-template-columns: 2fr 1fr;
    }
}
