/* Import variables
   ========================================================================== */
@import "variables.css";

footer {
    background: #000;
    margin-top: 3rem;
    border-top: 5px solid var(--primary-color);
}

.footer-links {
    display: flex;
    flex-direction: column;
    color: var(--light-gray-color);
    padding: 2rem;
}

.footer-links .footer-column {
    margin-top: 2rem;
}

.footer-links h3 {
    text-transform: uppercase;
    color: #fff;
    margin: 4rem 0 1rem;
}

.footer-links ul {
    list-style: none;
    padding: 0.5rem 1rem 0;
    line-height: 2rem;
}

.footer-links li {
    border-bottom: 1px solid #202020;
    padding: 0.5rem 0;
}

.footer-links li:last-child {
    border-bottom: 0 solid #202020;
}

.footer-links a {
    color: var(--light-gray-color);
    text-decoration: none;
}

.footer-links a:hover {
    color: var(--white-color);
}

footer p {
    text-align: center;
    color: var(--white-color);
    padding: 2rem;
    letter-spacing: 0.2rem;
}

hr.hr-footer {
    border: 1px solid var(--lighter-gray-color);
    margin: 1rem auto;
}

/* Tablets
   ========================================================================== */
@media (min-width: 822px) {
    .footer-links {
        flex-direction: row;
        justify-content: space-between;
        padding: 1rem;
        margin: 2rem auto;
    }
    .footer-links h3 {
        margin: 1rem 0 1rem;
    }
}
