/* Global variables
   ========================================================================== */
:root {
    --black-color: #000000;
    --white-color: #ffffff;
    --light-gray-color: #979ea6;
    --primary-color: #da2839;
    --lighter-gray-color: #dadada;
}

/* For the night owls
   ========================================================================== */
@media (prefers-color-scheme: dark) {
    :root {
        --bg-color: #050402;
        --body-color: #ffffff;
        --body-inverse: #000000;
        --bg-inverse: #ffffff;
        --categories-nav: #979ea6;
        --text-hover: rgb(199, 199, 199);
    }
}

/* For the daytime workaholics
   ========================================================================== */
@media (prefers-color-scheme: light) {
    :root {
        --bg-color: #ffffff;
        --body-color: #000000;
        --body-inverse: #ffffff;
        --bg-inverse: #000000;
        --categories-nav: #e6e6e6;
        --text-hover: rgb(85, 85, 85);
    }
}
